
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
                <div class="layui-row layui-col-space15">

                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <h3>欢迎使用</h3>
                            </div>
                            <div class="layui-card-body">
                                <p>@ViewBag.ornname @ViewBag.Jobname @ViewBag.username</p>
                                <p>这是你第 @ViewBag.count 次登录本系统</p>
                                <p>上次登录时间为: @ViewBag.time</p>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <h3>近七天登录情况</h3>
                            </div>
                            <div class="layui-card-body">
                                <div id="main" style="width:100%;height:400px;"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-col-md4">
                @if (ViewBag.isManage != null)
                {
                    <div class="layui-card">
                        <div class="layui-card-header">待办事项</div>
                        <div class="layui-card-body">
                            <div class=" layadmin-backlog">
                                <ul class="layui-row layui-col-space10">
                                    <li class="layui-col-xs4">
                                        <a lay-href="/EntryApproval/Index" class="layadmin-backlog-body">
                                            <h3>待审入职</h3>
                                            <p><cite>@ViewBag.EntryCount</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs4">
                                        <a lay-href="/QuitApproval/Index" class="layadmin-backlog-body">
                                            <h3>待审离职</h3>
                                            <p><cite>@ViewBag.QuitCount</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-xs4">
                                        <a lay-href="/OilMaterialApproval/Index" class="layadmin-backlog-body">
                                            <h3>待审油料</h3>
                                            <p><cite>@ViewBag.OilCount</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <div class="layui-card">
                    <div class="layui-card-header">版本信息</div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>版本号</td>
                                    <td>v1.0.0</td>
                                </tr>
                                <tr>
                                    <td>作者</td>
                                    <td>Mr.Owl</td>
                                </tr>
                                <tr>
                                    <td>最近更新时间</td>
                                    <td>2020年1月5日</td>
                                </tr>
                                <tr>
                                    <td>用户反馈邮箱</td>
                                    <td>xxxxxxxxxx@qq.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">天气</div>
                    <div class="layui-card-body">
                        <div class=" layadmin-backlog">
                            <ul class="layui-row layui-col-space10">
                                <li class="layui-col-xs4">
                                    <a class="layadmin-backlog-body">
                                        <h3>今日天气</h3>
                                        <p><cite>@ViewBag.EntryCount</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a class="layadmin-backlog-body">
                                        <h3>今日温度</h3>
                                        <p><cite>@ViewBag.QuitCount</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs4">
                                    <a class="layadmin-backlog-body">
                                        <h3>温馨提醒</h3>
                                        <p><cite>@ViewBag.OilCount</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <!-- 天气插件 -->
    <script type="text/javascript">
        WIDGET = { FID: 'uijCQIlgX6' }
    </script>
    <script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"></script>
    <script>
  layui.config({
    base: '/layuiadmin/' //静态资源所在路径
  }).extend({
      index: 'lib/index', //主入口模块
  }).use(['index', 'console', 'echarts','jquery'], function () {
        var $ = layui.jquery;
        var echarts = layui.echarts;
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        option = {
            xAxis: {
                type: 'category',
                //data: ['星期一', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                data: ['@ViewBag.x1', '@ViewBag.x2', '@ViewBag.x3', '@ViewBag.x4', '@ViewBag.x5', '@ViewBag.x6', '@ViewBag.x7']
                    //data: [@ViewBag.x]
            },
            tooltip: {},
            yAxis: {
                type: 'value'
            },
            series: [{
                //data: [820, 932, 901, 934, 1290, 1330, 20000],
                data: [ @ViewBag.y],
                type: 'line',
                smooth: true
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


        getWeather()
  });
        function getWeather() {
            $.ajax({
                url: "https://api.heweather.net/s6/weather/now?location=auto_ip&key=d114ce2b16a34659b3c6b5f1c704e8cc",
                success(result) {
                    console.log(result)
                }
            })
        }
    </script>
</body>
</html>
